<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}">
    <script th:src="@{/js/library/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/js/library/poper.min.js}"></script>
    <script th:src="@{/js/library/bootstrap.min.js}"></script>
    <script th:src="@{/js/library/bootstrap-select.min.js}"></script>
    <script th:src="@{/js/inputFormRowLanguages.js}"></script>
</head>
<body>
<div th:replace="~{fragments/navbar::navbar}"></div>

<form th:method="POST" th:action="@{/create}" th:object="${MainInformation}">
    <div class="row justify-content-md-center">
        <div class="col-md-6 col-xl-5 mt-5">
            <div class="card">
                <div class="card-header">
                    Основная информация
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-7">
                            <input type="text" th:field="*{lastname}"
                                   class="form-control" placeholder="Фамилия"/>
                            <input type="text" th:field="*{firstname}"
                                   class="form-control mt-2" placeholder="Имя"/>
                            <input type="text" th:field="*{position}"
                                   class="form-control mt-2" placeholder="Желаемая должность"/>
                            <input type="text" th:field="*{phone}"
                                   class="form-control mt-2" placeholder="Телефон"/>
                            <input type="text" th:field="*{email}"
                                   class="form-control mt-2" placeholder="Email"/>
                            <input type="text" th:field="*{github}"
                                   class="form-control mt-2" placeholder="Github"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    <div class="row justify-content-md-center">-->
    <!--        <div class="col-md-6 col-xl-5 mt-5">-->
    <!--            <div class="card">-->
    <!--                <div class="card-header">-->
    <!--                    Навыки-->
    <!--                </div>-->
    <!--                <div class="card-body">-->
    <!--                    <form>-->
    <!--                        <row>-->
    <!--                            <div class="form-group col-md-7">-->
    <!--                                <input class="form-control" type="text" placeholder="Фамилия">-->
    <!--                            </div>-->
    <!--                        </row>-->
    <!--                    </form>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    <div class="row justify-content-md-center">-->
    <!--        <div class="col-md-6 col-xl-5 mt-5">-->
    <!--            <div class="card">-->
    <!--                <div class="card-header">-->
    <!--                    Опыт работы-->
    <!--                </div>-->
    <!--                <div class="card-body">-->
    <!--                    <form>-->
    <!--                        <row>-->
    <!--                            <input type="date" class="form-control" id="date1" name="date" placeholder="Дата" required>-->
    <!--                            <input type="date" class="form-control" id="date2" name="date" placeholder="Дата" required>-->
    <!--                        </row>-->
    <!--                    </form>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <div class="row justify-content-md-center">
        <div class="col-md-6 col-xl-5 mt-5">
            <div class="card">
                <div class="card-header">
                    Образование
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>

    <!-- ЗНАНИЕ ЯЗЫКОВ -->
    <div class="row justify-content-md-center">
        <div class="col-md-6 col-xl-5 mt-5">
            <div class="card">
                <div class="card-header">
                    Знание языков
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="inputFormRowLanguages">
                                <div class="input-group mb-3">
                                    <select name="languages[]">
                                        <option value="Русский">Русский</option>
                                        <option value="English (Advanced)">English (Advanced)</option>
                                        <option value="English (Upper-Intermediate)">English (Upper-Intermediate)
                                        </option>
                                        <option value="English (Intermediate)">English (Intermediate)</option>
                                        <option value="English (Pre-Intermediate)">English (Pre-Intermediate)</option>
                                        <option value="English (Elementary)">English (Elementary)</option>
                                        <option value="English (Beginner)">English (Beginner)</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button id="removeRowLanguages" type="button" class="btn btn-danger">Remove</button>
                                    </div>
                                </div>
                            </div>
                            <div id="newRowLanguages"></div>
                            <button id="addRowLanguages" type="button" class="btn btn-info">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ -->
    <div class="row justify-content-md-center">
        <div class="col-md-6 col-xl-5 mt-5 mb-5">
            <div class="card">
                <div class="card-header">
                    Дополнительная информация
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <textarea th:field="*{additionalInformation}"
                                  class="form-control"
                                  placeholder="Информация, которая, возможно, заинтересует Вашего работодателя">
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="submit">
</form>
</body>
</html>